<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
	<div class="text-center" th:fragment="modal">
		<!-- Boton del modal -->
		<button class="btn btn-success" data-toggle="modal" data-target="#contenido-modal">
			<i class="fas fa-shopping-cart"></i> Comprar
		</button>

		<!-- Modal -->
		<div class="modal fade" id="contenido-modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="titulo-modal">Compra</h5>
						<button class="close" data-dismiss="modal" aria-label="Close">
							<span>&times;</span>
						</button>
					</div>
					<form method="post" th:action="@{/compra/guardar}">
						<div class="modal-body">
							<label for="canti">Cantidad : </label> 
							<input name="cantidad" id="canti" type="number" placeholder ="ingrese cantidad "class="form-control">
							<label for="cod">Codigo :</label>
							<input name="cod" id="cod" type="number" placeholder="ingrese codigo de producto" class="form-control">
							<label for="cli">Cliente :</label>
							<input name="cli" id="cli" type="number" placeholder="ingrese id de cliente" class="form-control">
						
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							<input type="submit" class="btn btn-primary" value="Comprar">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>