@charset "ISO-8859-1";


.fondo{
	height: 100%;
    background-image: url("../img/FONDO1.jpg");
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
}

.minav{
    background-color: #4682B4 ;
}
.mifooter{
    text-align: center;
    padding: 16px 16px 16px 16px;
    margin-top: 24px;
}

html{
    height: 100%;
}
.container{
    height: 100%;
}

.micontainer{
    min-height: 100%;
}

.card{
	border-radius:20px;
	
}